body{
    
    background-color: rgb(112, 27, 27);
    color: white;
    text-align: center;

}

section{

    background-color: white;
    width: 500px;
    margin:auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}